extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="", class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque imperdiet tempus purus. Sed imperdiet elementum sodales. Maecenas vestibulum et ligula malesuada elementum. Duis neque elit, tempor et ex ac, ullamcorper suscipit nisl. Fusce porttitor venenatis dui, vitae maximus urna porta sed. Pellentesque diam enim, ullamcorper ut diam id, rhoncus elementum est. Phasellus tincidunt urna nec justo blandit commodo. Nam quis tincidunt mi. Proin ornare blandit tellus, blandit elementum enim semper rutrum.

                p Aenean facilisis, est vel sagittis convallis, sapien est tempus arcu, imperdiet lobortis nulla magna et elit. Donec ultrices mattis mauris quis lobortis. Sed suscipit tincidunt nulla, in viverra nisi laoreet nec. Morbi justo mauris, maximus quis rutrum id, iaculis non elit. Nulla facilisi. 

                p Fusce at tincidunt urna. Nullam tincidunt nulla eu nibh fermentum cursus. Mauris mattis in nulla vel laoreet. Aenean sagittis sem vitae ipsum suscipit, vel pulvinar turpis blandit. Nulla pharetra pellentesque nisi, sollicitudin pulvinar purus iaculis sit amet. Sed blandit ante ullamcorper tortor pharetra, at varius magna fermentum.

    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Fusce at tincidunt urna. Nullam tincidunt nulla eu nibh fermentum cursus. Mauris mattis in nulla vel laoreet. Aenean sagittis sem vitae ipsum suscipit, vel pulvinar turpis blandit.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Fusce at tincidunt urna. Nullam tincidunt nulla eu nibh fermentum cursus. Mauris mattis in nulla vel laoreet. Aenean sagittis sem vitae ipsum suscipit, vel pulvinar turpis blandit.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Fusce at tincidunt urna. Nullam tincidunt nulla eu nibh fermentum cursus. Mauris mattis in nulla vel laoreet. Aenean sagittis sem vitae ipsum suscipit, vel pulvinar turpis blandit.






//- p= viajes
//- p #{viajes}